In [1]:
import pandas as pd
import csv
import glob

In [2]:
filepaths = glob.glob('data/*.csv')

In [3]:
df = pd.DataFrame()

for file in filepaths:
    dataframe = pd.read_csv(file)
    if (len(dataframe.columns) == 15):
        dataframe.columns = ['Trip Duration (sec)', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth_Year', 'Gender']
        
    else:
        dataframe.columns = ['Trip Duration (sec)', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID',
       'Localized Value', 'User Type', 'Birth_Year', 'Gender']
        dataframe = dataframe.drop('Localized Value',1)
    
    df = df.append(dataframe, ignore_index=True, sort=False)

In [4]:
df.isnull().sum()

Trip Duration (sec)            0
Start Time                     0
Stop Time                      0
Start Station ID               0
Start Station Name             0
Start Station Latitude         0
Start Station Longitude        0
End Station ID                 0
End Station Name               0
End Station Latitude           0
End Station Longitude          0
Bike ID                        0
User Type                    117
Birth_Year                 24820
Gender                         0
dtype: int64

In [5]:
df = df.dropna(how='any').reset_index(drop=True)

In [6]:
df['Birth_Year'] = df.Birth_Year.astype(int)
df['Start Time'] = pd.to_datetime(df['Start Time'])
df['Stop Time'] = pd.to_datetime(df['Stop Time'])

In [10]:
df.dtypes

Trip Duration (sec)                object
Start Time                 datetime64[ns]
Stop Time                  datetime64[ns]
Start Station ID                    int64
Start Station Name                 object
Start Station Latitude            float64
Start Station Longitude           float64
End Station ID                      int64
End Station Name                   object
End Station Latitude              float64
End Station Longitude             float64
Bike ID                             int64
User Type                          object
Birth_Year                          int64
Gender                              int64
Age                                 int64
dtype: object

In [8]:
df['Age'] = 2018 - df['Birth_Year']

In [11]:
df['Age'].nlargest(1000).value_counts()

2018    1000
Name: Age, dtype: int64

In [13]:
df = df[df['Age'] < 90]

In [14]:
print(df.count())

Trip Duration (sec)        372847
Start Time                 372847
Stop Time                  372847
Start Station ID           372847
Start Station Name         372847
Start Station Latitude     372847
Start Station Longitude    372847
End Station ID             372847
End Station Name           372847
End Station Latitude       372847
End Station Longitude      372847
Bike ID                    372847
User Type                  372847
Birth_Year                 372847
Gender                     372847
Age                        372847
dtype: int64

In [12]:
df.head()

,Trip Duration (sec),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth_Year,Gender,Age
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983,1,35
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978,1,40
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989,1,29
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961,1,57
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993,1,25

In [15]:
df.to_csv('data/jcbike_testset.csv', encoding='utf-8', index=False)

In [17]:
df['Age'].value_counts()

32    22999
29    20288
30    19333
34    18249
35    17238
38    16184
28    16046
31    15875
33    15710
37    15539
36    15428
40    12482
27    10547
41    10543
39    10216
42    10202
26    10019
43     8285
48     7218
24     6928
46     6801
47     6282
25     5758
44     5513
50     5429
45     5401
62     5318
54     5240
58     4684
49     4641
      ...
51     3209
52     3203
53     3115
60     3018
23     2439
59     2097
64     2081
61     1808
57     1686
22     1403
66     1094
65      944
63      857
21      478
87      432
69      422
68      326
20      323
77      315
67      242
74      110
19      101
71       47
70       34
72       26
17       26
76       21
18       20
79        1
16        1
Name: Age, Length: 62, dtype: int64